<!--Main Navigation-->
<header class="intro-header">

    <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>Casey</strong></a>
    </mdb-navbar-brand>
    <links id="navLinks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('about')" class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('experience')" class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('projects')" class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('contact')" class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </links> 
  </mdb-navbar>
  
    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../assets/images/cyber.png'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
      <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
          <div class="row justify-content-center pt-5 mt-3 w-100">
            <div class="col-md-12">
              <div class="text-center">
                <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Casey Lewis</strong></h2>
                <a href="https://7clewis.github.io/AboutMeSite/assets/resume.pdf" target="_blank"><button pButton pRipple type="button" label="Resume"></button></a>
                <a href="https://github.com/7CLewis" target="_blank"><button style="margin-left: 50px;" pButton pRipple type="button" label="GitHub"></button></a>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Computer Science & Cybersecurity</strong></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  