<!--Main Navigation-->
<header class="intro-header">
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>Casey</strong></a>
    </mdb-navbar-brand>
    <links id="navLinks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('about')" class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('experience')" class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('projects')" class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a (click)="onClick('contact')" class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </links> 
  </mdb-navbar>
  
  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../assets/images/cyber.png'); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row justify-content-center pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Casey Lewis</strong></h2>
              <a href="https://7clewis.github.io/AboutMeSite/assets/resume.pdf" target="_blank"><button pButton pRipple type="button" label="Resume"></button></a>
              <a href="https://github.com/7CLewis" target="_blank"><button style="margin-left: 50px;" pButton pRipple type="button" label="GitHub"></button></a>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Computer Science & Cybersecurity</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Section: About-->
<div id="about" class="container text-center">
  <h2 class="display-4">About Me</h2>
  <p class="lead">Trying to make a difference in the world, one line of code at a time</p>
  <hr class="my-4">
  <div class="row justify-content-center text-left">
    <div class="col-md-4">
      <h3>Who am I?</h3>
      <p>I am a college student looking forward to taking the skills I've learned into a full-time position in May 2021. I have gained professional experience in website development, information technology,
        and software development. My tecnhical passion is in creating software and improving the security of code and systems.
        However, my real passion is helping people, so whatever way I am able to use my technical skills to do this is what brings me the most joy.
      </p>
    </div>
    <div class="col-md-4">
      <img src="../assets/images/logo1.png" style="width: 100%; height: 90%"
        alt="Logo">
    </div>
    <div class="col-md-4">
      <h3>Education</h3>
      <h4 class="font-weight-bold">College</h4>
      <p>Boise State University</p>
      <h4 class="font-weight-bold">Degree</h4>
      <p>B.S. Computer Science, Emphasis in Cybersecurity</p>
      <h4 class="font-weight-bold">Location:</h4>
      <p>Idaho, USA</p>
    </div>
  </div>
  <!-- <br> -->
  <p>Read on to learn more about my specific experience and abilities.</p>
</div>

<!-- Section: Experience-->
<div id="background-blue" class="container-fluid">
  <div id="experience" class="container text-center">
    <h2 class="display-4">Experience</h2>
    <p class="lead">Key areas where my skills have traveled outside of the classroom</p>
    <hr class="my-4">
    <div id="experience-row" class="row justify-content-center text-left">
      <div class="col-md-4">
        <h3>Idaho National Laboratory</h3>
        <p><a href="https://inl.gov">INL.gov</a></p>
      </div>
      <div class="col-md-8">
        <h3>Web Development Intern: Summer 2020 - Fall 2020</h3>
        <p><strong>Summer: </strong>Began a rebuild of the Reliability Calculator website (using Angular 9) for the United States Nuclear Regulatory Commission for nuclear operations statistics.</p>
        <p><strong>Fall: </strong>Created an IdentityServer4 with Identity .NET Core backend for an intranet application.</p>
      </div>
    </div>
    <div class="row justify-content-center text-left">
      <div class="col-md-4">
        <h3>Boise State University</h3>
        <p><a href="https://www.boisestate.edu/coen-cs/">boisestate.edu/coen-cs/</a></p>
      </div>
      <div class="col-md-8">
        <h3>Computer Science Tutor: Spring 2018 - Spring 2020</h3>
        <p>Provided private instruction to individual or small groups of students to improve academic performance, sharpen occupational skills, and prepare for academic or occupational tests. Prepared lesson plans or learning modules for tutoring sessions according to students' needs and goals. 
          Provided feedback to students using positive reinforcement techniques to encourage, motivate, or build confidence in students. Primarily taught in Data Structures and Java-based classes.</p>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center text-left">
      <div class="col-md-4">
        <h3>Idaho Transportation Department</h3>
        <p><a href="https://www.itd.idaho.gov/">itd.idaho.gov</a></p>
      </div>
      <div class="col-md-8">
        <h3>IT Operations and Support Technician</h3>
        <p>Oversaw the daily performance of computer systems. Answered user inquiries regarding computer software or hardware operation to resolve problems. Set up equipment for employee use, performing and ensuring proper
          installation of cables, operating systems, or appropriate software. </p>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-center text-left">
      <div class="col-md-4">
        <h3>Boise State University</h3>
        <p><a href="https://www.boisestate.edu/coen-cs/">boisestate.edu/coen-cs/</a></p>
      </div>
      <div class="col-md-8">
        <h3>NSA GenCyber Summer Camp Instructor</h3>
        <p>Taught 50 high school teachers basic Internet of Things (IoT) security concepts at the <a href="https://www.gen-cyber.com/camps/">GenCyber Summer Camp</a>, hosted by Boise State University, and funded by the National Security Agency (NSA).  
            Focused on important concepts for high school students, and introduced fun ways for them to take these concepts into their classrooms.</p>
      </div>
    </div>
  </div>
</div>


<!-- Section: Contact-->
<div id="background-blue" class="container-fluid">
  <div id="contact" class="container text-center">
    <h2 class="display-4">Contact</h2>
    <p class="lead">Interested in working with me? Have more questions? Feel free to contact me using the information below!</p>
    <hr class="my-4">
    <div class="row justify-content-center text-left">
      <div class="col-md-4">
        <p class="align-top"><i class="fas fa-3x fa-envelope-square"></i> <strong> Email</strong> - <a href="mailto: casey.lewis08@gmail.com">casey.lewis08@gmail.com</a></p>

      </div>
      <div class="col-md-4">
        <p><i class="fab fa-3x fa-linkedin"></i> <strong> LinkedIn: </strong> <a href="https://www.linkedin.com/in/casey-lewis-5111a5149/">Casey Lewis</a></p>
      </div>
    </div>
    <hr class="my-4">
    <p>Thank you for visiting!</p>
  </div>
</div>

